[Unit]
Description=mysqld_exporter
After=network.target

[Service]
User=mysqld_exporter
Group=mysqld_exporter
Type=simple
Environment=MYSQLD_EXPORTER_PASSWORD={{ mysqld_exporter_password }}
ExecStart=/usr/local/bin/mysqld_exporter --mysqld.address=localhost:3306 --mysqld.username=exporter
Restart=always

[Install]
WantedBy=multi-user.target
