[Unit]
Description=mysqld_exporter
After=network.target

[Service]
User=mysqld_exporter
Group=mysqld_exporter
Type=simple
Environment=DATA_SOURCE_NAME=exporter:{{ mysqld_exporter_password }}@(localhost:3306)/
ExecStart=/usr/local/bin/mysqld_exporter
Restart=always

[Install]
WantedBy=multi-user.target
